@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  scroll-padding-top: 80px; /* Adjust this value to match your navbar height */
}

.app-container {
  min-height: 100vh;
  background-color: #2c2929; /* Light teal background */
  display: flex;
  flex-direction: column;
  padding-top: 80px; /* Add padding to account for navbar height */
  max-width: 100vw; /* Ensures content doesn't exceed viewport width */
}

.homepage-heading {
  font-size: 7.5rem;
}

.content-wrapper {
  flex: 1;
  padding: 0;
}
