.sponsorship-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #F5F5F5; /* Light teal background */
}

/* Thank You Section */
.thank-you {
  text-align: center;
  padding: 3rem 0;
  color: #013222;
    background-color: #E1E5DC;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.thank-you h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  color: #013222;
}

.thank-you p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  color: #004D14;
}

/* Sponsor Grid */
.sponsor-grid h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #013222;
}

.sponsor-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sponsor-item {
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(58, 175, 169, 0.1); /* Turquoise shadow */
  padding: 2rem;
  transition: transform 0.3s ease;
}

.sponsor-item:nth-child(even) {
  background-color: #013222;
  color: #E1E5DC;
}

.sponsor-item:nth-child(odd) {
  background-color: #E1E5DC;
  color: #013222;
}

.sponsor-item:nth-child(odd) a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #013222;
  color: #F6F7F2;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.sponsor-item:nth-child(even) a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #E1E5DC;
  color: #013222;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}



.sponsor-item a:hover {
  background-color: #dcde9d; /* Darker turquoise on hover */
}

.sponsor-item:hover {
  transform: translateY(-5px);
}



.sponsor-item img {
  max-width: 200px;
  height: auto;
  margin-right: 2rem;
  object-fit: contain;
}

.sponsor-item h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.sponsor-item p {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .sponsor-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sponsor-item img {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}

.sponsor-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 3rem;
}